.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog {
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}

.input {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: #6a11cb;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.3);
}

.select {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.select:focus {
  outline: none;
  border-color: #6a11cb;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.3);
}

.option {
  margin-top: 5px;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 1rem;
}

.option:hover {
  outline: none;
  border-color: #6a11cb;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.3);
}

.button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  opacity: 0.9;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
}

.dialogHeading {
    padding-left: 10px;
}

.closeIcon {
    color: rgb(206, 206, 206);
    cursor: pointer;
    transition: color 0.5 ease;
}

.closeIcon:hover {
    color: #e74c3c;
}