.todoCard {
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.2s;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #dfd4eb, #9eb3d8);
  color: #123a7e;
  border: 1px solid #ddd;
}

.todoCard:hover {
  transform: translateY(-2px);
  border-color: #123a7e;
}

.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

.notStarted {
  background: #e2e3e5;
  color: #333;
}

.inProgress {
  background: #fff3cd;
  color: #856404;
}

.completed {
  background: #d4edda;
  color: #155724;
}

.dueDate {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #123a7e;
}

.overdue {
  margin-top: 0.5rem;
  color: #d9534f;
  font-weight: bold;
}

.todoFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerIcons {
    padding-left: 10px;
    cursor: pointer;
}